:root {
  --border-radius: 10px;
  --font: sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-color: #090d24;
  --secondary-foreground-color: #1d2636;
  --background-color: #fff;
  --secondary-background-color: #b1b1b1;
  --clic-red: #cb381b;
  --warning-yellow: #f0ad4e;
  --success-green: #5cb85c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --secondary-foreground-color: #b1b1b1;
    --background-color: #090d24;
    --secondary-background-color: #1d2636;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: var(--font);

  body {
    overflow-y: auto;
  }
}

body {
  color: rgb(var(--foreground-color));
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  width: 100%;
  height: 100%;
}

.icon {
  width: 1em;
  height: 1em;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin: 1em;

  @media (max-width: 60rem) {
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
  }

  .logo {
    height: 2.5em;
  }

  .toolbar {
    display: flex;
    justify-content: right;
    gap: 1em;

    .button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-radius: var(--border-radius);
      border: 2px solid var(--foreground-color);

      background: var(--foreground-color);
      color: var(--background-color);
      stroke: var(--background-color);
      font-weight: bold;

      cursor: pointer;

      &:hover {
        background: var(--background-color);
        color: var(--foreground-color);
        stroke: var(--foreground-color);
      }

      &:disabled {
        background: var(--secondary-background-color);
        color: var(--secondary-foreground-color);
        stroke: var(--secondary-foreground-color);
        cursor: not-allowed;
      }
    }

    .lang-select {
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      outline: none;

      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-radius: var(--border-radius);
      border: 2px solid var(--foreground-color);

      background: var(--background-color);
      color: var(--foreground-color);
      font-weight: bold;

      cursor: pointer;

      option {
        font-size: 1rem;
        background-color: var(--background-color);
        padding: 1em;
        margin: 2em;
      }
    }
  }
}

.main-content {
  display: flex;
  gap: 1em;
  margin: 1em;
  height: 88vh;

  @media (max-width: 60rem) {
    flex-direction: column;
  }

  .side-panel {
    flex-basis: 50%;

    background-color: var(--secondary-background-color);
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .instructions {
      width: 100%;
      margin: 1em;
    }

    .game {
      width: 100%;
      display: flex;
      gap: 2em;

      .simulation {
        width: 50%;
      }

      .game-info {
        font-family: var(--font-mono);
        font-size: 0.9rem;
        background-color: #101010;

        outline: 10px solid var(--background-color);
        padding: 1em;

        display: flex;
        flex-direction: column;
        gap: .3em;
        width: 50%;
        height: 100%;

        overflow-y: auto;

        .error {
          color: var(--clic-red);
        }

        .info {
          color: var(--foreground-color);
        }

        .warning {
          color: var(--warning-yellow);
        }

        .success {
          color: var(--success-green);
        }
        
      }
    }
  }

  .editor {
    flex-basis: 50%;
    overflow: hidden;
    padding-top: 2em;
    background-color: #1e1e1e;
  }
}
