// Board

/*
  Note : board size is dynamic to parent width
*/

.board {
  --dark-cell-color: #2b201a;
  --light-cell-color: #fee3c3;
  --black-piece-color: #090d24;
  --white-piece-color: #f6f8ff;
  --crown-color: #5a5cea;

  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1 / 1;

  outline: 10px solid var(--background-color);

  .row {
    display: flex;
    width: 100%;
    height: 10%;

    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      height: 100%;

      &.blackcell {
        background-color: var(--dark-cell-color);
        .black {
          outline: 2px solid var(--white-piece-color);
        }
      }

      &.whitecell {
        background-color: var(--light-cell-color);
        .white {
          outline: 2px solid var(--black-piece-color);
        }
      }

      &.selected {
        border: 2px solid #ff0000;
      }

      &.possible {
        border: 2px solid #00ff00;
      }

      .piece {
        width: 70%;
        height: 70%;
        border-radius: 50%;

        &.black {
          background-color: var(--black-piece-color);
        }

        &.white {
          background-color: var(--white-piece-color);
        }

        .crown {
          width: 100%;
          height: 100%;
          background-color: var(--crown-color);
          mask: url("../../public/crown.svg") no-repeat center / 60% 60%;
        }
      }
    }
  }
}
